.menu-options {
  width: 100px;
  height: 100px;
  background-color: #7cfc00;
}

.wrtitter-pic {
  width: 50px;
  height: 50px;
  background-color: #7cfc00;
}

body{
  width: 100%;
  min-width: 700px;
  max-width: 1300px;
  
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

h1{
  text-align: center;
}

.container-box-1{
  text-align: center;
}

.writer-1 {
  display: inline-block;
  width: 49%;
  min-width: 350px;
  height: 400px;
  background-color: #7cfc00;
  box-sizing: border-box;
}

.container-box-2 {
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  margin-top: 5px;
  text-align: left;
  margin-left: 11px;
}

.grid-article-1 {
  box-sizing: border-box;
  width: 32.8%;
  height: 400px;
  background-color: #7cfc00;
  margin: 2px;
  border: solid 1px black;
}

.smash-1 {
  box-sizing: border-box;
  width: 65.9%;
  height: 400px;
  background-color: #7cfc00;
  margin: 2px;
  border: solid 1px black;
}

.smash-2 {
  box-sizing: border-box;
  width: 66%;
  height: 400px;
  background-color: #7cfc00;
  margin: 2px;
  border: solid 1px black;
}

.more-articles-1{
  box-sizing: border-box;
  height: 100px;   
  background-color: #7cfc00;
  margin: 2px 11px;
  border: solid 1px black;
  text-align: center;
  padding-top: 42px;
}

.article-8{
  box-sizing: border-box;
  height: 900px;  
  margin: 2px 11px;
  margin-left: 11px;
  background-color: #7cfc00;
  border: solid 1px black;
  text-align: center;
}

.container-box-3 {
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  margin-top: 5px;
  text-align: left;
  margin-left: 12px;
}

.writer-2{
  box-sizing: border-box;
  height: 250px;
  width: 98%;
  margin: 2px;

  background-color: #7cfc00;
  border: solid 1px black;
}

.writer-3{
  box-sizing: border-box;
  height: 250px;
  width: 49%;
  margin: 2px;

  background-color: #7cfc00;
  border: solid 1px black;
}
